<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <title>NodeJS project</title>
</head>
<body>

  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">RD LAB FE NODEJS HOMEWORK #1</a>
    </div>
  </nav>

  <div class="container mt-5" id="app">
    <div class="row">
      <div class="col-5">
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Enter passsword"
            v-model="file.password"
          >
          <label for="password">Enter passsword</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Enter file name"
            v-model="file.filename"
          >
          <label for="fileName">Enter file name</label>
        </div>
        <div class="form-floating mb-3">
          <textarea
            class="form-control"
            style="height: 100px"
            placeholder="Enter file content"
            v-model="file.content"
          ></textarea>
          <label for="fileContent">Enter file content</label>
        </div>
        <div class="d-flex justify-content-end">
          <button
            class="btn btn-outline-dark rounded-0"
            @click="createFile()"
            :disabled="!file.content || !file.filename"
          >Create file</button>
        </div>
      </div>
      <div class="col-7">
        <div class="d-grid mb-3">
          <button
            type="button"
            class="btn btn-outline-dark rounded-0"
            @click="getFiles()"
          >Get all files</button>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="list-group d-flex flex-row" v-for="file in files">
              <a
                class="list-group-item list-group-item-action"
                href="#"
                @click="getFileByName(file)"
              >{{ file }}</a>
              <div class="btn-group" role="group">
                <button
                  type="button"
                  class="btn btn-outline-success btn-sm text-nowrap rounded-0 me-1"
                  data-bs-toggle="modal"
                  data-bs-target="#editFile"
                  :disabled="fileInfo.filename !== file"
                >Edit file</button>
                <button
                  type="button"
                  class="btn btn-outline-danger btn-sm text-nowrap rounded-0"
                  @click="deleteFile(file)"
                >Delete file</button>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="tab-content" v-if="Object.entries(fileInfo).length">
              <div class="tab-pane fade show active">
                <ul v-for="file in Object.entries(fileInfo)">
                  <li>{{ file[0] }}: {{file[1]}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="editFile" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">File name: {{ fileInfo.filename }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-floating">
              <textarea
                class="form-control"
                style="height: 100px"
                placeholder="Enter file content"
                v-model="fileInfo.content"
              ></textarea>
              <label for="fileContent">Enter file content</label>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-secondary rounded-0" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-success rounded-0" data-bs-dismiss="modal" @click="editFile()">Edit file</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Toast -->
    <div class="toast-container position-absolute bottom-0 end-0 p-3">
      <div class="toast d-flex align-items-center text-white rounded-0"
        aria-live="assertive"
        aria-atomic="true"
        data-bs-animation="true"
        autohide="true"
        delay="5000"
        :class="toast.status === 200 ?  'bg-success' : 'bg-danger'">
        <div class="toast-body">
          {{ toast.message }}
        </div>
        <button type="button" class="btn-close btn-close-white ms-auto me-2" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="app.js"></script>
</body>
</html>
